apiVersion: v1
kind: Service
metadata:
  name: airflow-redis
  namespace: airflow
spec:
  selector:
    app: redis
    role: master
  ports:
    - name: redis
      port: 6379
      targetPort: 6379
  type: ClusterIP
