# Web/API
fastapi
uvicorn[standard]

# Kafka consumer
confluent-kafka 
fastavro

# DB migrations
alembic
psycopg2-binary

# Data processing / MLOps
pandas
prefect
mlflow==2.7.0

# LLM / RAG
langchain
openai
chromadb
sentence-transformers

# Utilities
python-dotenv
requests
